.main-slider {
	.slick-dots {
		bottom: 20px;

		li {
			width: 47px;
			height: 2px;

			button {
				width: 47px;
				height: 2px;

				&:before {
					background-color: #ccc;
					width: 47px;
					height: 2px;
					content: ' ';
				}
			}

			&.slick-active button:before {
				background-color: $primary;
				opacity: 1;
				width: 47px;
				height: 2px;
				content: ' ';
			}
		}
	}

	.slick-arrow {
		left: initial;
		right: 0;
		width: inherit;
		height: inherit;
		padding-right: 45px;

		&.slick-prev {
			top: calc(50% - 20px);
			z-index: 1;
			border-bottom: 1px solid #ccc;
			padding-bottom: 10px;
		}

		&.slick-next {
			top: calc(50% + 20px);
		}

		&.slick-prev:before, &.slick-next:before {
			font-family: inherit;
			font-size: 24px
		}
	}

	.slick-prev:hover:before,
	.slick-prev:focus:before,
	.slick-next:hover:before,
	.slick-next:focus:before {
		opacity: 1;
		color: $primary;
	}

	&__desc {
		color: white;
		font-size: 18px;
		position: absolute;
		top: 20%;
		padding: 0 1%;
		line-height: initial;

		@media (min-width: $screen-md-min) {
			font-size: 35px;
			top: 33%;
		}
	}
}

.section-about-cityu-brand {
	.container {
		padding-top: 50px;
		padding-bottom: 70px;
	}

	&__icon {
		height: 68px;
		margin-bottom: 40px;
	}

	&__coltitle {
		font-size: 18px;
		margin-bottom: 15px;
	}

	&__coldesc {
		line-height: 2;
	}
}

.feed-slider {
	.slick-prev:before, .slick-next:before {
		color: $secondary;
	}
}

.section-services {
	padding-top: 80px;
	padding-bottom: 100px;

	.tilt-box {
		height: 338px;
		background-size: cover;
		transform-style: preserve-3d;

		button {
			height: 100%;
			width: 100%;
			background: none;
			border: none;
			transition: 0.3s;

			&:hover {
				background: rgba(227, 8, 102, 0.9);
			}
		}

		&__inner {
			transform: translateZ(10px);
		}

		p {
			color: white;
			text-transform: uppercase;
		}
	}

	.box1 {
		background-image: url('../images/service1.png');
	}

	.box2 {
		background-image: url('../images/service2.png');
	}

	.box3 {
		background-image: url('../images/service3.png');
	}

	.box4 {
		background-image: url('../images/service1.png');
	}
}

.section-latest-news {
	padding-top: 100px;
	padding-bottom: 10px;

	.news-box {
		button {
			background: rgba(0, 0, 0, 0.5);
			border: none;
			position: absolute;
			text-align: left;
			bottom: 0;
			font-size: 14px;
			width: 100%;
			height: 100%;
			border-radius: 0;
			transition: 0.3s;

			&:hover {
				opacity: 0;
			}
		}

		&__inner {
			color: white;
			position: absolute;
			bottom: 0;
			width: 100%;
			left: 0;
			padding-left: 15px;
			padding-bottom: 15px;
		}

		&:last-child {
			&__image {
				padding-right: 0;
			}
		}
	}
}

.section-questions {
	background-size: cover;
	background-position: center;
	background-image: url('../images/question-bg.jpg');
	padding: 200px 20px;
}
