extends layout

block append head
	link(rel='stylesheet', href='css/vendor/slick.css')
	link(rel='stylesheet', href='css/vendor/slick-theme.css')

block content
	.main-slider
		div
			img(src='images/slider1.jpg').w-100
			p.main-slider__desc
				| CityU continues to surge <br/>
				| in world’s rankings
		div
			img(src='images/slider2.jpg').w-100
			p.main-slider__desc
				| CityU continues to surge <br/>
				| in world’s rankings
		div
			img(src='images/slider3.jpg').w-100
			p.main-slider__desc
				| CityU continues to surge <br/>
				| in world’s rankings
	section.section-about-cpro
		.container
			.row.justify-content-md-center.border-bottom.py-5
				.col-md-10.text-center
					h2 About CPRO
					p.desc The Communications & Public Relations Office (CPRO) is the multi-channel communications team of City University of Hong Kong. CPRO builds upon CityU's strengths to enhance the University's outreach and image-building efforts. A key objective of CPRO is to help the University meet new challenges by building trust and understanding among the University community and the public.
	section.section-about-cityu-brand
		.container.border-bottom
				h2.pt-5.text-center About CityU Brand
				.row.justify-content-center.pt-5.text-center
					.col-md-10
						.row
							.col-md-4.mb-5
								img(src='images/brand-icon1.png').section-about-cityu-brand__icon
								h3.section-about-cityu-brand__coltitle Brand Pillars
								p.section-about-cityu-brand__coldesc The CityU brand helps communicate the message that CityU is a leading university on the world stage.
							.col-md-4.mb-5
								img(src='images/brand-icon2.png').section-about-cityu-brand__icon
								h3.section-about-cityu-brand__coltitle Brand Personality
								p.section-about-cityu-brand__coldesc The CityU Brand showcases the university as a dynamic, innovative, bold, and smart brand with global ambitions.
							.col-md-4.mb-5
								img(src='images/brand-icon3.png').section-about-cityu-brand__icon
								h3.section-about-cityu-brand__coltitle Brand Position
								p.section-about-cityu-brand__coldesc The CityU brand helps to reinforce CityU’s positioning in the global academic as a one of the leading global university.
				.text-center.pb-5
					button.btn.btn-primary.btn--lg Learn More
	section.section-feed
		.container.pb-5.pt-3
			.row.py-5.justify-content-center.justify-content-md-left
				div.col-md-7.offset-md-1.col-10.mb-4
					.feed-slider
						div
							.row
								.col-md-3.mb-2.text-center
									img(src='images/feed.jpg', alt='feed img')
								.col-md-9.text-center.text-md-left
									p.mb-0.small Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam quis risus eget urna mollis ornare vel eu leo...
									a(href="#").pl-0.small See More
						div
							.row
								.col-md-3.mb-2.text-center
									img(src='images/feed.jpg', alt='feed img')
								.col-md-9.mb-2.text-center.text-md-left
									p.mb-0.small Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam quis risus eget urna mollis ornare vel eu leo...
									a(href="#").pl-0.small See More
				div.col-md-3.text-center.text-md-left.order-md-first
					button.btn.btn-facebook CityU Facebook
	section.section-services.bg-grey
		.container.text-center
			.row.justify-content-md-center
				.col-md-8
					h2 Services
					p.desc Donec sed odio dui. Maecenas faucibus mollis interdum. Nullam id dolor id nibh ultricies vehicula ut id elit. Aenean lacinia bibendum nulla sed consectetur.
			.row.pb-md-3
				.col-md-4.pr-md-0
					.tilt-box.box1
						button
							.tilt-box__inner
								img.mb-3(src='images/icon-video.png', alt='Corporate video')
								p Corporate videos
				.col-md-8
					.tilt-box.box2
						button
							.tilt-box__inner
								img.mb-3(src='images/icon-promotion.png', alt='Event Promotions')
								p Event Promotions
			.row
				.col-md-8.pr-md-0
					.tilt-box.box3
						button
							.tilt-box__inner
								img.mb-3(src='images/icon-gift.png', alt='Corporate video')
								p CityU Souvenirs
				.col-md-4
					.tilt-box.box4
						button
							.tilt-box__inner
								img.mb-3(src='images/icon-photography.png', alt='Photography Services')
								p Photography Services
	section.section-latest-news
		.container.text-center
			.row.justify-content-md-center
				.col-md-8
					h2 Latest News
					p.desc Donec sed odio dui. Maecenas faucibus mollis interdum. Nullam id dolor id nibh ultricies vehicula ut id elit. Aenean lacinia bibendum nulla sed consectetur.
		.news-wrapper.grid-container-third
			.grid-item.news-box
				button.btn.btn-full
					.news-box__inner
						div Ipsum Condimentum Inceptos Nullam Mollis
						.small 03 April 2017
				img.w-100.news-box__image(src='images/news1.jpg', alt='news1')
			.grid-item.news-box
				button.btn.btn-full
					.news-box__inner
						div Ipsum Condimentum Inceptos Nullam Mollis
						.small 03 April 2017
				img.w-100.news-box__image(src='images/news2.jpg', alt='news2')
			.grid-item.news-box
				button.btn
					.news-box__inner
						div Ipsum Condimentum Inceptos Nullam Mollis
						.small 03 April 2017
				img.w-100.news-box__image(src='images/news3.jpg', alt='news3')
	.section-questions.text-center.parallax
		p.h4.pb-4.white Questions on Public Relations & Communication matters?
		button.btn.btn-outline-light.btn--lg Contact us
