doctype html
html
	block head
		title= title
		include partial/_meta
		link(rel='stylesheet', href='css/vendor/bootstrap.min.css')
		link(rel='stylesheet', href='css/style.css')
	body
		include partial/_header
		include partial/_nav
		main
			block content
			include partial/_floatingicon
		footer
			include partial/_footer
	block bodyfooter
		script(src="js/vendor/jquery-3.3.1.min.js")
		script(src="js/vendor/slick.min.js")
		script(src="js/vendor/tilt.jquery.min.js")
		script(src="js/vendor/bootstrap.min.js")
		script(src="js/main.min.js")
