.btn-primary {
	background-color: $primary;
	border-color: $primary;

	&:hover, &:active {
		background-color: $primary-hover !important;
		border-color: $primary-hover !important;
	}
}

a {
	color: $primary;

	&:hover, &:active {
		color: $primary-hover;
	}
}

.btn-facebook {
	background-color: $grey;
	color: black;
	font-size: 14px;
	background-image: url('../images/facebook-icon.png');
	background-repeat: no-repeat;
	background-position: center left 5px;
	background-size: 44px;
	height: 55px;
	min-width: 180px;
	padding-left: 57px;

	&:hover, &:active {
		background-color: $grey-hover !important;
	}
}

.btn-link {
	color: $primary;
}

.btn--lg {
	font-size: 14px;
	height: 55px;
	min-width: 180px;
}

.btn-outline-light {
	&:hover, &:active {
		color: $primary;
	}
}

.btn--icon {
	background-repeat: no-repeat;
	background-position: center;
	border: none;
	background-color: transparent;
}

.btn--menu {
	color: white;
	height: 40px;
	padding: 10px 21px;
	background-color: transparent;
	background-image: url($icon-cross);
	background-size: 20px;

	span {
		display: none;
	}

	&.collapsed {
		background-image: none;

		span {
			display: block;
		}
	}
}
