.floating-icons-wrapper {
	display: none;

	@media (min-width: $screen-md-min) {
		display: block;
	}

	position: fixed;
	right: 0;
	top: 40vh;
	z-index: 1;

	.floating-icon {
		background-color: $grey-light;
		width: 53px;
		height: 55px;
		background-size: 28px;
		display: block;

		&:nth-child(even) {
			background-color: #acacac;
		}

		&:hover, &:active {
			background-color: $primary;
		}
	}

	.icon-print {
		background-image: url('../images/icon-print.png');
	}
	.icon-mail {
		background-image: url('../images/icon-mail.png');
	}
	.icon-phone {
		background-image: url('../images/icon-phone.png');
		background-size: 23px !important;
	}
}
