.footer {
	padding-top: 50px;
	background-color: $secondary;
	border-bottom: 10px solid $primary;
	color: white;
	font-size: 13px;

	p {color: white;}

	a:link, a:visited {color: #e6e6e6;}

	&__sitemap {
		border-bottom: 1px solid #3a3a3a;

		li {
			padding-bottom: 7px;
		}
	}

	.nav__bottom {
		li {
			padding-bottom: 10px;
			width: 100%;

			@media (min-width: $screen-md-min) {
				width: auto;
			}
		}
	}
}
