nav {
	background-color: $primary;
}

.main-nav {
	width: 100%;
}

.nav-item {
	padding: 4px 0;
	transition: 0.1s;

	&:hover {
		background-color: #624764
	}
}

.nav-link {
	&:link,
	&:visited {
		color: white;
	}
}
