.searchbar {
	position: absolute;
	top: 0;
	right: 10px;

	@media (min-width: $screen-md-min) {
		right: 55px;
	}

	form {
		display: inline-block;
		background-color: $grey;
		padding: 3px 9px;
		border-right: 4px solid white;
		height: 45px;
	}

	.form-group {
		margin-bottom: 0;
		position: relative;
	}

	input {
		border: none;
		border-radius: 0;
		font-size: 13px;
	}

	.text-magnifier {
		background-color: $grey;
		border: none;
		padding: 3px 17px;
		color: grey;
		height: 45px;
		float: right;
		font-size: 13px;
	}

	&__submit {
		position: absolute;
		top: 0;
		right: 0;
		height: 100%;
		background-image: url($icon-search);
		width: 40px;
		background-size: 26px;
	}
}
