.slick-arrow--chevron {
	background-position: center !important;
	background-size: cover !important;

	&:before {
		content: ' ' !important;
	}

	&.slick-prev {
		background-image: url($icon-chevron-prev);

		@media (min-width: $screen-md-min) {
			left: -60px;
		}

		&:hover, &:focus {
			background-image: url($icon-chevron-prev-hover);
		}
	}

	&.slick-next {
		background-image: url($icon-chevron-next);

		@media (min-width: $screen-md-min) {
			right: -60px;
		}

		&:hover, &:focus {
			background-image: url($icon-chevron-next-hover);
		}
	}
}

.slick-slide img {
	display: inline-block !important;
}
