div.floating-icons-wrapper
	button.floating-icon.btn--icon.icon-print
		.sr-only Print
	button.floating-icon.btn--icon.icon-mail
		.sr-only Mail
	button.floating-icon.btn--icon.icon-phone
		.sr-only Call Us
