.footer
	.container
		.row.footer__sitemap
			.col-md-auto.col-6
				p.mb-4
					a(href="#") Home
			.col-md-auto.col-6
				p.mb-4
					a(href="#") About CPRO
			.col-md-auto.col-6
				p.mb-4
					a(href="#") Branding
				ul.list-unstyled
					li
						a(href="#") CityU brand
					li
						a(href="#") Corporate presentation
					li
						a(href="#") Corporate video
					li
						a(href="#") Souvenirs
			.col-md-auto.col-6
				p.mb-4
					a(href="#") Services
				ul.list-unstyled
					li
						a(href="#") Event Promotions
					li
						a(href="#") Via Cap
					li
						a(href="#") Spotlight
					li
						a(href="#") Event LCD TV
					li
						a(href="#") Video Wall
					li
						a(href="#") Photography Services
					li
						a(href="#") Stock Photo
					li
						a(href="#") Photographers
					li
						a(href="#") Download Corp Videos
					li
						a(href="#") Order Souvenirs
			.col-md-auto.col-6
				p.mb-4
					a(href="#") University Communication
				ul.list-unstyled
					li
						a(href="#") Internal communication
					li
						a(href="#") Linkage
					li
						a(href="#") Glossary
					li
						a(href="#") Multimedia
					li
						a(href="#") Campus broadcast System
					li
						a(href="#") CityU album
					li
						a(href="#") Videos
					li
						a(href="#") Publications
					li
						a(href="#") Annual Report
					li
						a(href="#") CityU at a glance
					li
						a(href="#") CityU Today
					li
						a(href="#") CityU Update
					li
						a(href="#") Corporate Folder
					li
						a(href="#") Newscentre
					li
						a(href="#") Social Media
			.col-md-auto.col-6
				p.mb-4
					a(href="#") Outreach
				ul.list-unstyled
					li
						a(href="#") Campus Visits
					li
						a(href="#") School Programmes
			.col-md-auto.col-6
				p.mb-4
					a(href="#") Media
				ul.list-unstyled
					li
						a(href="#") CityU in the news
					li
						a(href="#") CityU newscentre
					li
						a(href="#") Find an Expert
			.col-md-auto.col-6
				p.mb-4
					a(href="#") Contact
		.row.pt-3.pb-5.text-center.text-md-left
			.col-md-10
				ul.list-unstyled.nav.nav__bottom
					li.pr-md-2
						a(href="#") Privacy Policy
					li.pr-md-2
						a(href="#") Copyright
					li.pr-md-2
						a(href="#") Disclaimer
					li.pr-md-2
						a(href="#") Contact Us
					li.pr-md-2
						a(href="#") Download
					li.pr-md-2
						a(href="#") PDF Reader
				p 2017 City University of Hong Kong. All Rights Reserved
			.col-md-2.text-md-right
				img.img-fluid(src='images/logo-white.png', alt='CityU logo whote')
