meta(charset="utf-8")
meta(http-equiv="x-ua-compatible" content="ie=edge")
meta(name="viewport" content="width=device-width, initial-scale=1.0")
meta(name="description" content="weCreate Challenge - CityU")
meta(name="keywords" content="weCreate Challenge - CityU")
