nav.navbar-expand-md.text-center
	.container.px-0
		button.nav-toggler.btn--icon.d-md-none.btn--menu.collapsed(data-toggle="collapse", data-target="#navbarNav", aria-controls="navbarNav", aria-expanded="false", aria-label="Toggle navigation")
			span Menu
		div.collapse.navbar-collapse#navbarNav
			ul.navbar-nav.nav-pills.nav-fill.main-nav
				li.nav-item.align-self-center
					a.nav-link(href="#") Home
				li.nav-item.align-self-center
					a.nav-link(href="#") About CPRO
				li.nav-item.align-self-center
					a.nav-link(href="#") Branding
				li.nav-item.align-self-center
					a.nav-link(href="#") Services
				li.nav-item.align-self-center
					a.nav-link(href="#") University Communication
				li.nav-item.align-self-center
					a.nav-link(href="#") Outreach
				li.nav-item.align-self-center
					a.nav-link(href="#") Media
				li.nav-item.align-self-center
					a.nav-link(href="#") Contact
