body {
	font-family: pageFontLight;
}

h1 {
	color: $secondary;
	font-family: pageFontLight;
}

h2, h3, h4, h5 {
	color: $primary;
	font-family: pageFontRegular;
}

h1 {font-size: 38px;}
h2 {font-size: 25px; margin-bottom: 25px;}

.btn {
	border-radius: 40px;
}

.bg-grey {
	background-color: #fbfbfb;
}

p {
	color: $color_p;

	&.desc {
		line-height: 2.4;
	}
}

.btn-full {
	width: 100%;
	height: 100%;
	position: absolute;
}

.grid-container-third {
	@media (min-width: $screen-sm-min) {
		display: grid;
		grid-column-gap: 10px;
		grid-template-columns: 1fr 1fr 1fr;
	}

	.grid-item {
		position: relative;
	}
}

.white {
	color: white;
}

.parallax {
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
