/* General */
$screen-xl-min: 1200px;
$screen-lg-min: 992px;
$screen-md-min: 768px;
$screen-sm-min: 576px;
$screen-xs-min: 0;

/* Colors */
$primary: #e30866;
$primary-hover: #c50859;
$secondary: #656565;

$grey: #ececec;
$grey-hover: #e3e1e1;

$grey-light: #d7d7d7;

$color_p: #444444;

@font-face {
	font-family: pageFontLight;
	src: url(fonts/Montserrat-Light.otf);
}

@font-face {
	font-family: pageFontRegular;
	src: url(fonts/Montserrat-Regular.otf);
}
